<h1><%=h @issue.subject %></h1>

<% if @changesets.present? %>
<div>
<h2><%=l(:label_associated_revisions)%></h2>

  <% @changesets.each do |ch| %>
    <h3>
      <%= link_to_revision(ch) %>
    </h3>

    <div>
      <div class="author">
        <%= authoring(ch.committed_on, ch.author) %></div>
      <div class="wiki">
        <%= textilizable(ch, :comments) %>
      </div>
    </div>

    <hr />
  <% end %>

</div>
<% end %>
